# visualizacion 
ydata-profiling

# Dataframes 
pandas

# Cálculos numéricos
numpy

#formato parquet
pyarrow

# Visualización
matplotlib
seaborn
geopandas

# Modelado, machine learning, deep learning
scikit-learn
tensorflow
scikeras

# Lectura de archivos Excel
openpyxl

# Uso en Jupyter Notebook
jupyter
