# visualizacion 
ydata-profiling

# Dataframes 
pandas

# Cálculos numéricos
numpy

#formato parquet
pyarrow

# Visualización
matplotlib
seaborn

# Modelado y machine learning
scikit-learn

# Lectura de archivos Excel
openpyxl

# Uso en Jupyter Notebook
jupyter
